@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500&family=Playfair:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair', serif;
    font-family: 'Playfair Display', serif;
}

:root{
    --text-color: #fff;
    --main-color: rgb(252, 240, 149);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: rgb(0, 0, 0);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

.inicio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.inicio.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}


header{
    background-position: center;
    background-size: 150%;
    background-attachment: fixed;
    justify-content: space-between;
    background-repeat: no-repeat;
    height: 100vh;
    animation: zoomin 10s forwards;
}
@keyframes img-spider{
    from{
     transform:scale(-20);
    }
    to{
     transform: scale(0);
    }
}
@-webkit-keyframes zoomin {
    0% {
       background-size: 150%; 
    }
    100% {
       background-size: 100%; 
    }

}


.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: white;
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color:rgb(233, 230, 64);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    justify-content: first baseline;
    align-items: center;
}


.btn{
    background-color: rgba(37, 99, 234, 0);
    padding: 15px 28px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
    
}

.btn.animat-btn{
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover{
    background-color: #8bb2ff;
}

@keyframes animate-outline {
    from{
     outline: 0px solid #4f9bf98a;
    }
    to{
     outline: 15px solid #4f9bf900;
    }
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-last-of-type(2){
    margin-bottom: 0.5rem;
}

span{
    color:  rgb(69, 103, 255);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight:700;
    line-height: 1.3;
}


.card i {
    height: 25px;
  }
  
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 200px;
    border-radius: 50px;
  }
  
  .card::before, .card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  .card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: rgb(69, 103, 255);
  }
  
  .card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color:  rgb(69, 103, 255);
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  .card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .card span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgb(245, 245, 245);
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  .card .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: rgb(2, 2, 2);
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  .card .social-link i {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
  }
  
  .card .social-link:hover {
    background-color: rgba(151, 173, 248, 0.774);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background:  var(--header-color, rgb(76, 76, 245));
    border-radius: 4rem;
    box-shadow: white;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow:none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    background: var(--second-bg-color);
}

.about-img img {
    width: 100%;
    border-radius: 155px;
    animation: floatImage 4s ease-in-out infinite;
}



@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
    
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height:1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    padding: 5rem;
    width: 60rem;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    cursor: pointer;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem - 3rem;
    text-align: justify;
}


.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: rgb(95, 95, 255);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: black;
    transform: scale(1.02);
}

.services-box i{
    font-size: 7rem;
    color: rgb(255, 255, 255);
}

.services-box h3{
    font-size: 2.6rem;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem - 3rem;
}


.contact h2{
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center; 
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form  textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form  textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgb(95, 95, 255);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: white;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/*BREAKPOINTS*/
@media (max-width: 1200px) {
    html {
        font-size:55%;
    }
}


@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    .home {
        padding: 40rem 3%;
        flex-direction: column;
    }
  
    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }
    #menu-icon {
        display: block;
        
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(15, 15, 15, 0.881);
        border-top: .1rem solid rgb(255, 255, 255);
        box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.796);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar .btn{
        width: 13rem;
        
    }
    
    .home {
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about h2{
        text-align: center;
    }

    .about p{
        text-align: justify;
        width: 50rem;
    }
    .about img{
        width: 50vw;
        margin-top: 4rem;
    }
}

@media (max-width: 617px) {
    .about-content{
        grid-template-columns: 1fr;
    }

} 

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    
    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img{
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
